.header-bg{background-image: url(Hero-bg.png);
height: 580px;
width: 1440;
margin: 0px;
padding: 0px;
}

nav ul {display: flex;
    justify-content: space-between;
align-items: center;}

nav li{list-style: none;
margin: 60px 90px;
}

.logo{font-weight: bold;
font-size: xx-large;
color: #4E47FF;}

.btn{font-size: 15px;
padding: 12px 36px;
background-color: #4E47FF;
color: #ffff;
border: none;
border-radius: 10px;}

.banner{font-weight: bold;
color: #252432;
text-align: center;
font-size: 65px;}

.btn-primary{text-align: center;
font-size: 23px;
padding: 12px 36px;
border: none;
background-color: #4E47FF;
color: #ffff;
border-radius: 10px;}

.action-section{display: flex;
margin-top: 116px;
justify-content: space-between;
align-items: center;
}

.act-sec-title{font-size: 42px;
font-weight: bold;
margin-left: 141px;}

.act-sec-sub-title{margin-left: 141px; color: rgba(37, 36, 50, 0.5);
}

.llp{margin-left: 141px; font-size: 12px;
padding: 9px 23px;
border: none;
border-radius: 10px;
background-color: #4E47FF;
color: #ffff;}

.img{margin-right: 159px;
height: 328px; width: 403;
border-radius: 48px;
}

.users{text-align: center;
margin-top: 110px;
padding: 50px 142px;
font-size: 20px ;
font-weight: bold;}

.user{display: flex;
justify-content: space-between;
margin-right: 200px;
margin-left: 200px;
font-size: 50px;
font-weight: bolder;
color: #4E47FF;
}

.review{display: flex;
justify-content: space-between;
margin-right: 200px;
margin-left: 200px;
color: rgba(0, 0, 0, 0.5);}


.bg{margin-top: 130px;
    margin-bottom: 130px;
background-color: rgba(78, 71, 255, 0.1);
height: 350px;
max-width: 950px;
  margin: 130px auto;
  padding: 0px 20px;
border-radius: 24px;}

.user-review{
font-weight: bold;
font-size: 20px;}

.cmn{ background-color: white;
  padding: 24px;
font-size: medium;
border-radius: 14px;
  
}

.common{display: flex; justify-content: center;
gap: 20px;}

.Touch{display: flex;
align-items: center;
justify-content: space-around;
margin-top: 100px;}

.text-type{display: flex;
flex-direction: column;
gap: 5px;

}

.text-type button{
  width: 250px;
}

.text-type input[type="Name"],[type="email"],textarea{
  padding: 10px;
  border: none;
}
